html,
body {
  margin: 0;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}

#dummy {
  display: none;
}

#holographic {
  display: flex;
  flex-direction: columns;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: repeating-linear-gradient(
    45deg,
    lightgrey,
    mediumspringgreen 10%,
    lightgrey 30%
  );
  background-size: 200%;
}

.bio {
  float: left;
  /* margin: auto;*/
  position: relative;
  z-index: 1;
  padding: calc(1.2em + 0.2vw);
  /*min-width: 17.5em;*/
  max-width: 50em;
  color: yellow;
  mix-blend-mode: difference;
}

b::selection,
p::selection {
  color: orange;
  background: blue;
}
b::-moz-selection p::-moz-selection {
  color: orange;
  background: blue;
}
b {
  font-weight: 500;
}
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(1.2em + 0.2vw);
  line-height: 1.2;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  white-space: normal;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
}

.contact {
  position: fixed;
  padding: calc(1.2em + 0.2vw);
  right: 0px;
  bottom: 0px;
  z-index: 1;
  color: yellow;
  mix-blend-mode: difference;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.contact p {
  font-size: calc(1em + 0.2vw);
}

.contact b {
  font-size: calc(1em + 0.2vw);
}

@media (max-width: 576px) {
  .contact {
    left: 0px;
  }
}
